<h1>Editar Información del Perro</h1>

<%= render 'form', dog: @dog %>

<%= link_to 'Back', dogs_path %>
<script type="text/javascript">
  $(document).ready(function(){
    initDogsForm();
  });
</script>

