<nav class="navbar navbar-default">
  <div class="btn-group">
    <%= link_to '/', class: "btn btn-sm btn-default navbar-btn", title: "Inicio" do %>
      <span class="glyphicon glyphicon-home"></span>
    <% end %>
    <% @tags.each do |option| %>
      <%= link_to option.name, new_dog_path(tagId: option.id),class: "btn btn-sm btn-primary navbar-btn" %>
    <% end %>
    <%= button_tag("Quiero ayudar", type: 'button', class: "btn btn-sm btn-success navbar-btn") %>
  </div>
</nav>