<div class="container">
  <h2>Upload file</h2>
  <%= simple_form_for @photo, :html => { :multipart => true, :class => "dropzone"  } do |f| %>
    <%= f.input :dog_id, as: :hidden, input_html: { value: @dogId} %>
    <div class="fallback">  
      <%= f.file_field :image, multiple: true %>
      <%= f.button :submit, class: "btn btn-sm btn-primary center-block" %>
    </div>
  <% end %>

  <div class="index">
  </div>
</div>