<!DOCTYPE html>
<html>
  <head>
    <title>Perritos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="nav-header">
          <a class="navbar-brand" href="#">Perritos</a>
        </div>
      </div>
    </nav>
    <section>
      <div class="container">
        <%= yield %>  
      </div>
    </section>
    <footer>
      
    </footer>
  </body>
</html>
